<div class="container">
  <div class="row">
    <div class="col px-5">
      <div class="row">
        <h6 class="px-0">Your resources</h6>
      </div>
      <div
        class="row my-2"
        *ngIf="!isSuccessOnGetResource && messageOnGetResource"
      >
        <div class="row error">
          {{ messageOnGetResource }}
        </div>
        <a class="px-0" routerLink="/login">Go to login page</a>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <td>#</td>
              <td>Value</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let resource of resources">
              <td>{{ resource.id }}</td>
              <td>{{ resource.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col px-5">
      <form
        class="row px-0"
        [formGroup]="resourceForm"
        (ngSubmit)="onSaveResource()"
      >
        <div class="form-group mb-3 px-0">
          <label for="resource">Resource value</label>
          <input
            type="text"
            class="form-control"
            id="resource"
            placeholder="Resource value"
            name="resource"
            formControlName="resource"
          />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <div
          class="row"
          [ngClass]="{
            error: !isSuccessOnPostResource,
            success: isSuccessOnPostResource
          }"
        >
          {{ messageOnPostResource }}
        </div>
      </form>
    </div>
  </div>
</div>
