<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row w-25">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLoginFormSubmit()"
      *ngIf="loginForm"
    >
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="email"
          class="form-control"
          id="username"
          name="principal"
          formControlName="principal"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="credentials"
          formControlName="credentials"
        />
      </div>
      <div class="row mt-4">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      <div class="row mt-4">
        <a
          class="btn btn-lg btn-google btn-block text-uppercase btn-outline shadow"
          (click)="onRedirectToGoogleConsent(GOOGLE_AUTH_OPTION)"
        >
          <img
            class="social-logo"
            src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515358_10512.png"
          />
          Signup Using Google
        </a>
      </div>
      <div class="row mt-4">
        <a
          class="btn btn-lg btn-google btn-block text-uppercase btn-outline shadow"
          (click)="onRedirectToGoogleConsent(GITHUB_AUTH_OPTION)"
        >
          <img
            class="social-logo"
            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          />
          Signup Using Github
        </a>
      </div>
    </form>
  </div>
</div>
